<nav>
    <div class="site-title">
        <a href="/"><h1>SQ Blogs</h1></a>
        <p>daily blogs written for you</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/About">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>